SEMP/SEMP.Logic/Service References/WCF.Services/ORMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61135/ORMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEMP.Data" />
  <xs:import schemaLocation="http://localhost:61135/ORMService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SalesAdministrationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q1:SalesAdministrationReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesAdministrationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesAdministrationReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductOriginGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductOriginGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="ProductOriginGetAllResult" nillable="true" type="q2:ArrayOfNamedEntityS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductsActiveReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q3:ProductsActive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductsActiveReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductsActiveReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetAllResult" nillable="true" type="q4:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q5:Solicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetResult" nillable="true" type="q6:ArrayOfSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetExpired">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetExpiredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetExpiredResult" nillable="true" type="q7:ArrayOfSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetNullable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nStatusID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dtBegin" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nSolicitorUserID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetNullableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetNullableResult" nillable="true" type="q8:ArrayOfSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetLastItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q9:Solicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetLastItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetLastItemsResult" nillable="true" type="q10:ArrayOfSolicitudeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q11:Solicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudeSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeModifySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q12:ModifySolicitude" />
        <xs:element minOccurs="0" name="SolicitudeID" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeModifySaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudeModifySaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToDeliver">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToDeliverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetToDeliverResult" nillable="true" type="q13:ArrayOfSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeProductsOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeProductsOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeProductsOfUserResult" nillable="true" type="q14:ArrayOfSolicitudeProductsOfUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeProductsOfUserModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeProductsOfUserModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeProductsOfUserModifyResult" nillable="true" type="q15:ArrayOfSolicitudeProductsOfUserModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeFieldsToModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeFieldsToModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeFieldsToModifyResult" nillable="true" type="q16:ArrayOfSolicitudeFieldsToModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q17:Solicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetItemsResult" nillable="true" type="q18:ArrayOfSolicitudeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetItemsModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q19:Solicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetItemsModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetItemsModifyResult" nillable="true" type="q20:ArrayOfSolicitudeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToApprove">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetToApproveResult" nillable="true" type="q21:ArrayOfSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToModify">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetToModifyResult" nillable="true" type="q22:ArrayOfSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToProcess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetToProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetToProcessResult" nillable="true" type="q23:ArrayOfSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetRejectable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtBegin" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nSolicitorUserID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeGetRejectableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeGetRejectableResult" nillable="true" type="q24:ArrayOfSolicitudeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q25:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsersReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeProductDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q26:SolicitudeProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeProductDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudeProductDetailReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q27:Requests" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestsReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitorKindGetAllResult" nillable="true" type="q28:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q29:SolicitorKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitorKindGetResult" nillable="true" type="q30:ArrayOfSolicitorKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q31:SolicitorKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitorKindSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q32:SolicitorKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindGetChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q33:SolicitorKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitorKindGetChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitorKindGetChildrenResult" nillable="true" type="q34:ArrayOfProductSolicitorKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreatmentGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TreatmentGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="TreatmentGetAllResult" nillable="true" type="q35:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreatmentGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q36:Treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TreatmentGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="TreatmentGetResult" nillable="true" type="q37:ArrayOfTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserActiveGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserActiveGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="UserActiveGetAllResult" nillable="true" type="q38:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="UserGetAllResult" nillable="true" type="q39:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q40:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="UserGetResult" nillable="true" type="q41:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q42:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q43:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserDeleteResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVlink">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVlinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQVlinkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserMenuResult" nillable="true" type="q44:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveRelativeProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q45:ArrayOfListedRelative" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveRelativeProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveRelativeProcessResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeToPrintReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q46:SolicitudeToPrint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeToPrintReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudeToPrintReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverSolicitudeDeliver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q47:ArrayOfPendingSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverSolicitudeDeliverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeliverSolicitudeDeliverResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeToPrintQueryReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q48:SolicitudeToPrintQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeToPrintQueryReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SolicitudeToPrintQueryReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="LocationGetAllResult" nillable="true" type="q49:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q50:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="LocationGetResult" nillable="true" type="q51:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q52:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q53:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="KinshipGetAllResult" nillable="true" type="q54:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q55:Kinship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="KinshipGetResult" nillable="true" type="q56:ArrayOfKinship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q57:Kinship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KinshipSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q58:Kinship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipKindGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KinshipKindGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="KinshipKindGetAllResult" nillable="true" type="q59:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanguageGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LanguageGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="LanguageGetAllResult" nillable="true" type="q60:ArrayOfLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanguageGetWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q61:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanguageGetWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="LanguageGetWordsResult" nillable="true" type="q62:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductStockReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q63:ProductStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductStockReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductStockReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstimateForSolitudeReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q64:EstimateForSolitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstimateForSolitudeReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EstimateForSolitudeReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeStatusGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeStatusGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeStatusGetAllResult" nillable="true" type="q65:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeStatusGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q66:SolicitudeStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitudeStatusGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="SolicitudeStatusGetResult" nillable="true" type="q67:ArrayOfSolicitudeStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGetActiveOfUserAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nUser" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGetActiveOfUserAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="RelativeGetActiveOfUserAllResult" nillable="true" type="q68:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="RelativeGetAllResult" nillable="true" type="q69:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q70:Relative" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="RelativeGetResult" nillable="true" type="q71:ArrayOfRelative" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q72:Relative" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RelativeSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q73:Relative" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGetPending">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RelativeGetPendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="RelativeGetPendingResult" nillable="true" type="q74:ArrayOfListedRelative" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="RejectionReasonGetAllResult" nillable="true" type="q75:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q76:RejectionReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="RejectionReasonGetResult" nillable="true" type="q77:ArrayOfRejectionReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q78:RejectionReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectionReasonSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q79:RejectionReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectionReasonDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MantenimientoReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q80:Mantenimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MantenimientoReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MantenimientoReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySolicitudeModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q81:ArrayOfPendingSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySolicitudeModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifySolicitudeModifyResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectSolicitudeReject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q82:ArrayOfSolicitudeItem" />
        <xs:element minOccurs="0" name="nRejectionReasonID" type="xs:int" />
        <xs:element minOccurs="0" name="sNullificationObs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectSolicitudeRejectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectSolicitudeRejectResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveSolicitudeApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q83:ArrayOfPendingSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveSolicitudeApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveSolicitudeApproveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetActiveOfUserAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nUser" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetActiveOfUserAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="ProductGetActiveOfUserAllResult" nillable="true" type="q84:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetActiveAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetActiveAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="ProductGetActiveAllResult" nillable="true" type="q85:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="ProductGetAllResult" nillable="true" type="q86:ArrayOfNamedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q87:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="ProductGetResult" nillable="true" type="q88:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q89:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductSaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q90:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSolicitudeProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SEMP.Data" minOccurs="0" name="e" nillable="true" type="q91:ArrayOfPendingSolicitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSolicitudeProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessSolicitudeProcessResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>